.contact {
    background-color: #324851;
}

.contact h2 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    padding: 1rem 0 0 0;    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0 1rem 1rem 1rem;

    font-size: 1.5rem;
}

label {
    padding: 1rem 0 1rem 1rem;
}

form input,
form textarea {
    font-size: 1rem;
    color: $bluepine;
    margin: 1rem;
}

.submit-button {
    color: black;
}

