.intro {
    padding: 3rem 6rem;
    background-color: $bluepine;
    text-align: center;
}

.intro h2 {
    font-weight: normal;
    font-size: 1.5rem;
    width: auto;
    font-weight: bold;
}

.intro p {
    font-size: 1.25rem;
}