.skills-content {
    background-color: $reflection;
    padding: 3rem 6rem;
}

.skills-content h2 {
    text-align: center;
    margin-top:0;
}

.svgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.skills-content img {
    height: 75px; 
}